<% if @reservations.any? %>
  <h2>Reservas de <%= current_user.guesthouse.brand_name %> </h2>

  <div class="reservations">
    <% @reservations.each do |r| %>
      <div class="reservation-details">
        <p><strong>Código da reserva:</strong> <%= r.code %></p>
        <p><strong>Quarto:</strong> <%= r.room.name %></p>
        <p><strong>Responsável:</strong> <%= r.guest.name %></p>
        <p><strong>Data agendada para entrada:</strong> <%= I18n.localize(r.checkin) %></p>
        <p><strong>Data agendada para saída:</strong> <%= I18n.localize(r.checkout) %></p>
        <p><strong>Quantidade de hóspedes:</strong> <%= r.guest_count %></p>
        <p>
          <strong>Status:</strong> 
          <%= Reservation.human_attribute_name("status.#{r.status}") %>
        </p>
        <%= link_to 'Gerenciar reserva', user_manage_reservation_path(r.id),
                    class: 'btn btn-primary btn-sm' %>
      </div>
      <hr>
    <% end %>
  </div>
<% else %>
  <p>Sua pousada ainda não possui reservas</p>
<% end %>

<div class="mb-3">
  <%= link_to 'Voltar', root_path %>
</div>