<% if @guest_checkin.present? %>
  <%= render partial: 'shared/error_messages', locals: { resource: @guest_checkin } %>
<% end %>

<h2 class="mb-3">Gerenciar reserva <%= @reservation.code %></h2>
<div class="w-100">
  <% if @cancellation_elligible %>
    <div>
      <%= button_to 'Cancelar', user_cancel_reservation_path(@reservation),
                    method: :patch,
                    class: 'btn btn-danger mb-3' %>
    </div>
  <% end %>
  <p>
    <strong>Responsável:</strong>
    <%= @reservation.guest.name %>
  </p>
  <p>
    <strong>Quarto:</strong>
    <%= @reservation.room.name %>
  </p>
  <p>
    <strong>Data agendada para entrada: </strong>
    <%= I18n.localize(@reservation.checkin) %>
  </p>
  <p>
    <strong>Data agendada para saída: </strong>
    <%= I18n.localize(@reservation.checkout) %>
  </p>
  <p>
    <strong>Status:</strong> 
    <%= Reservation.human_attribute_name("status.#{@reservation.status}") %>
  </p>
  <% if @reservation.guests_checked_in? %>
    <p>
      <strong>Data e hora do check-in:</strong>
      <%= I18n.localize(@reservation.checked_in_at, format: :custom) %>
    </p>
  <% end %>
  <% if @reservation.guests_checked_out? %>
    <p>
      <strong>Data e hora do check-in:</strong>
      <%= I18n.localize(@reservation.checked_in_at, format: :custom) %>
    </p>
    <p>
      <strong>Data e hora do check-out:</strong>
      <%= I18n.localize(@reservation.checked_out_at, format: :custom) %>
    </p>
    <p>
      <strong>Total pago:</strong>
      <%= number_to_currency(@reservation.stay_total) %>
    </p>
    <p>
      <strong>Forma de pagamento:</strong>
      <%= @reservation.payment_method %>
    </p>
  <% end %>

  <% if @reservation.guest_checkins.any? %>
    <table class="table mb-3">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Hóspedes registrados</th>
        </tr>
        <tr>
          <th>Nome</th>
          <th>RG ou CPF</th>
        </tr>
      </thead>
      <tbody>
        <% @reservation.guest_checkins.each do |guest| %>
          <tr>
            <td><%= guest.guest_name %></td>
            <td><%= guest.document %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if @reservation.purchases.any? %>
    <table class="table mb-3">
      <thead>
        <tr>
          <th colspan="5" class="text-center">Histórico de consumo</th>
        </tr>
        <tr>
          <th>Produto</th>
          <th>Valor unitário</th>
          <th>Quantidade</th>
          <th>Total</th>
          <th>Data e hora</th>
        </tr>
      </thead>
      <tbody>
        <% @reservation.purchases.each do |p| %>
          <tr>
            <td><%= p.product_name %></td>
            <td><%= number_to_currency(p.price) %></td>
            <td><%= p.quantity %></td>
            <td><%= number_to_currency(p.price * p.quantity) %></td>
            <td><%= l(p.created_at, format: :custom) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="row teste align-items-center">
    <% if @checkin_elligible %>
      <p class="mb-5">
        <strong>Quantidade de hóspedes informada:</strong>
        <%= @reservation.guest_count %>
      </p>
      <%= form_with(scope: :guest_checkin,
                    url: confirm_checkin_reservation_path(@reservation.id),
                    method: :post) do |f| %>
        <% @reservation.guest_count.times do |count| %>
          <div id="guest-<%= count %>" class="mb-3">
            <div class="row mb-3">
              <%= f.label :guest_name, 'Nome do hóspede',
                          class: 'col-4 col-form-label' %>
              <div class="col-8">
                <div>
                  <%= f.text_field :guest_name, name: "guest[#{count}][guest_name]", 
                                   class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="row mb-3">
              <%= f.label :document, 'RG ou CPF',
                          class: 'col-4 col-form-label' %>
              <div class="col-8">
                <%= f.text_field :document, name: "guest[#{count}][document]",
                                 class: 'form-control' %>
              </div>
            </div>
          </div>

          <hr>
        <% end %>
        <div class="row align-items-center justify-content-end">
          <div class="col-4 text-start">
            <%= link_to 'Voltar', :back, class: 'text-start' %>
          </div>
          <div class="col-8 row justify-content-end">
            <div class="col-3 text-end">
              <%= submit_tag 'Confirmar check-in', class: 'btn btn-primary', name: 'confirm_checkin' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @checkout_elligible %>
      <div class="col-4">
        <%= link_to 'Voltar', :back, class: 'text-start' %>
      </div>
      <div class="col-8 row justify-content-end">
        <div class="col-3 text-end">
          <%= link_to('Registrar consumo',
                      new_reservation_purchase_path(@reservation.id),
                      class: 'btn btn-primary')%>
        </div>
        <div class="col-3 text-end">
          <%= link_to('Realizar check-out',
                      go_to_checkout_reservation_path(@reservation.id),
                      class: 'btn btn-primary')%>
      </div>
      </div>
    <% end %>
  </div>
</div>