<h2 class="mb-3">Gerenciar reserva <%= @reservation.code %></h2>
<div>
  <p>
    <strong>Responsável:</strong>
    <%= @reservation.guest.name %>
  </p>
  <p>
    <strong>Quarto:</strong>
    <%= @reservation.room.name %>
  </p>
  <p>
    <strong>Data agendada para entrada: </strong>
    <%= I18n.localize(@reservation.checkin) %>
  </p>
  <p>
    <strong>Data agendada para saída: </strong>
    <%= I18n.localize(@reservation.checkout) %>
  </p>
  <p>
    <strong>Status:</strong> 
    <%= Reservation.human_attribute_name("status.#{@reservation.status}") %>
  </p>
  <% if @reservation.guests_checked_in? %>
    <p>
      <strong>Data e hora do check-in:</strong>
      <%= I18n.localize(@reservation.checked_in_at, format: :custom) %>
    </p>
  <% end %>
  <% if @reservation.guests_checked_out? %>
    <p>
      <strong>Data e hora do check-in:</strong>
      <%= I18n.localize(@reservation.checked_in_at, format: :custom) %>
    </p>
    <p>
      <strong>Data e hora do check-out:</strong>
      <%= I18n.localize(@reservation.checked_out_at, format: :custom) %>
    </p>
    <p>
      <strong>Total pago:</strong>
      <%= number_to_currency(@reservation.stay_total) %>
    </p>
    <p>
      <strong>Forma de pagamento:</strong>
      <%= @reservation.payment_method %>
    </p>
  <% end %>
  <div class="row w-50 mb-3">
    <% if @checkin_elligible %>
      <div class="col-4">
        <%= button_to('Confirmar check-in',
                      confirm_checkin_reservation_path(@reservation.id),
                      method: :patch, class: 'btn btn-primary') %>
      </div>
    <% end %>
    <% if @checkout_elligible %>
      <div class="col-4">
        <%= link_to('Registrar consumo',
                    new_reservation_purchase_path(@reservation.id),
                    class: 'btn btn-primary')%>
      </div>
      <div class="col-4">
        <%= link_to('Realizar check-out',
                    go_to_checkout_reservation_path(@reservation.id),
                    class: 'btn btn-primary')%>
      </div>
    <% end %>
    <% if @cancellation_elligible %>
      <div class="col-4">
        <%= button_to('Cancelar',
                       user_cancel_reservation_path,
                       method: :patch, class: 'btn btn-danger') %>
      </div>
    <% end %>
  </div>

  <%= link_to 'Voltar', active_reservations_path %>
</div>