<% if @reservations.any? %>
  <h2>Minhas Reservas</h2>

  <% @reservations.each do |r| %>
    <div class="reservations">
      <p><strong>Código da reserva:</strong> <%= r.code %></p>
      <p><strong>Nome da pousada:</strong> <%= r.guesthouse.brand_name %></p>
      <p><strong>Data agendada para entrada:</strong> <%= I18n.localize(r.checkin) %></p>
      <p><strong>Data agendada para saída:</strong> <%= I18n.localize(r.checkout) %></p>
      <p>
        <strong>Status:</strong> 
        <%= Reservation.human_attribute_name("status.#{r.status}") %>
      </p>
      <%= link_to 'Gerenciar', guest_manage_reservation_path(r) %>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>Você ainda não possui reservas</p>
<% end %>

<%= link_to 'Voltar', reservations_guest_path %>