<%=
  render partial: 'shared/error_messages', locals: { resource: @guesthouse }
%>

<%= form_with(model: @guesthouse) do |f| %>
  <div>
    <%= f.label :brand_name, 'Nome Fantasia' %><span class="required"> *</span>
    <%= f.text_field :brand_name, required: true %> 
  </div>
  <div>
    <%= f.label :corporate_name, 'Razão Social' %><span class="required"> *</span>
    <%= f.text_field :corporate_name, required: true %>
  </div>
  <div>
    <%= f.label :registration_number, 'CNPJ' %><span class="required"> *</span>
    <%= f.text_field :registration_number, required: true %>
  </div>
  <div>
    <%= f.label :phone_number, 'Telefone' %><span class="required"> *</span>
    <%= f.telephone_field :phone_number, required: true, minlength: 10, maxlength: 11 %>
  </div>
  <div>
    <%= f.label :email, 'E-mail' %><span class="required"> *</span>
    <%= f.email_field :email, required: true %>
  </div>
  <%= f.fields_for :address do |a| %>
    <div>
      <%= a.label :street_name, 'Logradouro' %><span class="required"> *</span>
      <%= a.text_field :street_name, required: true %>
    </div>
    <div>
      <%= a.label :number, 'Número' %><span class="required"> *</span>
      <%= a.text_field :number, required: true %>
    </div>
    <div>
      <%= a.label :complement, 'Complemento' %>
      <%= a.text_field :complement %>
    </div>
    <div>
      <%= a.label :neighbourhood, 'Bairro' %><span class="required"> *</span>
      <%= a.text_field :neighbourhood, required: true %>
    </div>
    <div>
      <%= a.label :postal_code, 'CEP' %><span class="required"> *</span>
      <%= a.text_field :postal_code, required: true %>
    </div>
    <div>
      <%= a.label :city, 'Cidade' %><span class="required"> *</span>
      <%= a.text_field :city, required: true %>
    </div>
    <div>
      <%= a.label :state, 'Estado' %><span class="required"> *</span>
      <%= a.text_field :state, required: true %>
    </div>
  <% end %>
  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :payment_method_one, 'Método de pagamento 1' %>
    <%= f.text_field :payment_method_one %>
  </div>
  <div>
    <%= f.label :payment_method_two, 'Método de pagamento 2' %>
    <%= f.text_field :payment_method_two %>
  </div>
  <div>
    <%= f.label :payment_method_three, 'Método de pagamento 3' %>
    <%= f.text_field :payment_method_three %>
  </div>
  <div>
    <%= f.label :pet_policy, 'Aceita pets' %>
    <%= f.check_box :pet_policy %>
  </div>
  <div>
    <%= f.label :guesthouse_policy, 'Políticas de uso' %>
    <%= f.text_area :guesthouse_policy %>
  </div>
  <div>
    <%= f.label :checkin_time, 'Horário de check-in' %>
    <%= f.time_field :checkin_time, { value: formatted_time(@guesthouse.checkin_time) } %>
  </div>
  <div>
    <%= f.label :checkout_time, 'Horário de check-out' %>
    <%= f.time_field :checkout_time, { value: formatted_time(@guesthouse.checkout_time) } %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>