<div class="row text-center mb-3 align-items-center">
  <% if @user && @guesthouse == @user.guesthouse && @guesthouse.active? %>
    <div class="col-3">
      <%= link_to 'Editar', edit_guesthouse_path(@guesthouse.id),
                  class: 'btn btn-primary btn-sm' %>
    </div>
    <div class="col-3">
      <%= link_to 'Adicionar quarto', new_guesthouse_room_path(@guesthouse.id),
                  class: 'btn btn-primary btn-sm' %>
    </div>
    <div class="col-3">
      <%=
        button_to(
          'Inativar',
          inactivate_guesthouse_path(@guesthouse.id),
          { method: 'patch', class: 'btn btn-danger btn-sm' }
        )
      %>
    </div>
  <% elsif @user && @guesthouse == @user.guesthouse && @guesthouse.inactive? %>
    <div class="col-3">
      <%=
        button_to(
          'Reativar',
          reactivate_guesthouse_path(@guesthouse.id),
          { method: 'patch', class: 'btn btn-primary btn-sm' }
        )
      %>
    </div>
  <% end %>

  <div class="return_link col-3">
    <%= link_to 'Voltar', root_path %>
  </div>
</div>
