<h2 class="text-center mb-5"><%= @guesthouse.brand_name %></h2>

<div><%= render 'links' %></div>

<hr>

<dl class="row">
  <div class="col-4">
    <% if @guesthouse.description.present? %>
      <div class="text-center mb-3">
        <strong><%= @guesthouse.description %></strong>
      </div>
    <% end %>
    
    <% if current_user == @guesthouse.user %>
      <dt><strong>Razão social:</strong></dt>
      <dd><%= @guesthouse.corporate_name %></dd>
      <dt><strong>CNPJ:</strong></dt>
      <dd><%= @guesthouse.registration_number %></dd>
    <% end %>
    <dt><strong>Telefone:</strong></dt>
    <dd><%= @guesthouse.phone_number %></dd>
    <dt><strong>E-mail:</strong></dt>
    <dd><%= @guesthouse.email %></dd>
    <dt><strong>Logradouro:</strong></dt>
    <dd><%= @guesthouse.address.street_name %></dd>
    <dt><strong>Número:</strong></dt>
    <dd><%= @guesthouse.address.number %></dd>
    <% if @guesthouse.address.complement.present? %>
      <dt><strong>Complemento:</strong></dt>
      <dd><%= @guesthouse.address.complement %></dd>
    <% end %>
    <dt><strong>Bairro:</strong></dt>
    <dd><%= @guesthouse.address.neighbourhood %></dd>
    <dt><strong>CEP:</strong></dt>
    <dd><%= @guesthouse.address.postal_code %></dd>
    <dt><strong>Cidade:</strong></dt>
    <dd><%= @guesthouse.address.city %></dd>
    <dt><strong>Estado:</strong></dt>
    <dd><%= @guesthouse.address.state %></dd>
    <% if @guesthouse.payment_method_one.present? %>
      <dt><strong>Método de pagamento 1:</strong></dt>
      <dd><%= @guesthouse.payment_method_one %></dd>
    <% end %>
    <% if @guesthouse.payment_method_two.present? %>
      <dt><strong>Método de pagamento 2:</strong></dt>
      <dd><%= @guesthouse.payment_method_two %></dd>
    <% end %>
    <% if @guesthouse.payment_method_three.present? %>
      <dt><strong>Método de pagamento 3:</strong></dt>
      <dd><%= @guesthouse.payment_method_three %></dd>
    <% end %>
    <% if @guesthouse.pet_policy.present? %>
      <dt><strong>Política para pets:</strong></dt>
      <dd><%= pet_policy_description(@guesthouse.pet_policy) %></dd>
    <% end %>
    <% if @guesthouse.guesthouse_policy.present? %>
      <dt><strong>Políticas de uso:</strong></dt>
      <dd><%= @guesthouse.guesthouse_policy %></dd>
    <% end %>
    
    <% if @guesthouse.checkin_time.present? %>
      <dt><strong>Horário de check-in:</strong></dt>
      <dd><%= formatted_time(@guesthouse.checkin_time) %></dd>
    <% end %>
    <% if @guesthouse.checkout_time.present? %>
      <dt><strong>Horário de check-out:</strong></dt>
      <dd><%= formatted_time(@guesthouse.checkout_time) %></dd>
    <% end %>
  </div>

  <% if @user && @guesthouse == @user.guesthouse && @all_rooms.any? %>
    <div class="col-4">
      <dt><strong>Quartos:</strong></dt>
      <dd>
        <ul class="room_details_list">
          <% @all_rooms.each do |room| %>
            <li class="room_details_list-item">
              <%= render partial: 'shared/room_details', locals: { room: room } %>
              <%= link_to 'Mais detalhes', room, class: 'btn btn-primary btn-sm' %>
            </li>
            <hr>
          <% end %>
        </ul>
      </dd>
    </div>
  <% elsif @available_rooms.any? %>
    <div class="col-4">
      <dt><strong>Quartos:</strong></dt>
        <dd>
          <ul class="room_details_list">
            <% @available_rooms.each do |room| %>
              <li class="room_details_list-item mb-3">
                <%= render partial: 'shared/room_details', locals: { room: room } %>
                <div class="row w-100">
                  <%= link_to 'Mais detalhes', room, class: 'btn btn-primary btn-sm col-4' %>
                  <div class="col-4">
                    <%= button_to 'Reservar', new_room_reservation_path(room.id),
                                   method: :get, class: 'btn btn-primary btn-sm' %>
                  </div>
                </div>
              </li>
              <hr>
            <% end %>
          </ul>
      </dd>
    </div>
  <% end %>

  <div class="col-4">
    <% if @recent_reviews.any? %>
      <dt class="mb-3"><strong>Avaliações | Média: ★ <%= @average_rating %></strong></dt>
      <dd>
        <% @recent_reviews.each do |review| %>
          <p><%= review.guest.name %>, <%= l(review.created_at.to_date) %></p>
          <p>Nota <%= review.rating %> - <q><%= review.description %> </q></p>
          <hr>
        <% end %>
      </dd>
      <%= link_to 'Visualizar todas', reviews_guesthouse_path(@guesthouse),
                  class: 'btn btn-primary btn-sm' %>
    <% else %>
      <div>Esta pousada ainda não possui avaliações</div>
    <% end %>
  </div>
</dl>

<hr>

<% if @guesthouse.pictures.attached? %>
  <div class="guesthouse-photos row mb-3 justify-content-center">
    <h2 class="text-center mb-4">Fotos da pousada</h2>
    <% @guesthouse.pictures.each do |picture| %>
      <div class="col-4 mb-3 text-center">
        <%= image_tag picture, size: '400x400', alt: @guesthouse.brand_name,
                               class: 'mb-1 rounded' %>
        <% if current_user.present? && current_user.guesthouse.pictures.present? && 
              current_user.guesthouse.pictures.include?(picture) %>
          <%= button_to 'Excluir', delete_picture_guesthouse_path(@guesthouse.id),
                        params: { picture_id: picture.id },
                        method: :delete,
                        class: 'btn btn-danger btn-sm' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>




