<strong>Quarto <%= room.name %></strong>
<p><%= room.description %></p>
<p>
  <%= 
    number_with_precision(
      room.dimension, separator: ',', strip_insignificant_zeros: true
    )
  %> m²
</p>
<p>Capacidade para até <%= room.max_people %> pessoa(s)</p>
<p>Valor da diária: <%= number_to_currency(room.current_daily_rate) %></p>
<p><%= room_availability(room) %></p>

<% if extra_features?(room) %>
  <% extra_features_collection(room).each do |feat| %>
    <p><%= feat %><p>
  <% end %>
<% end %>