<% @guesthouses.each do |g| %>
  <h2><%= link_to g.brand_name, g %></h2>
  <dl>
    <dt>Telefone:</dt>
    <dd><%= g.phone_number %></dd>
    <dt>E-mail:</dt>
    <dd><%= g.email %></dd>
    <dt>Endereço:</dt>
    <dd>
      <%= g.address.street_name %>,
      <%= g.address.number %>,
      <% if g.address.complement.present? %>
        <%= g.address.complement %>,
      <% end %>
      <%= g.address.neighbourhood %>,
      <%= g.address.postal_code %>,
      <%= g.address.city %> -
      <%= g.address.state %>
    </dd>
  </dl>
  <hr>
<% end %>