<h2>Quarto disponível no período informado</h2>
<% if current_guest %>
  <h3>Detalhes da reserva</h3>
  <p>
    <strong><%= @reservation.guesthouse.brand_name %></strong>
  </p>
  <p>
    <strong>Quarto <%= @reservation.room.name %></strong>
  </p>
  <p>
    <strong>Data de entrada:</strong> <%= I18n.localize(@reservation.checkin) %>
  </p>
  <p>
    <strong>Horário de check-in:</strong>
    <%= formatted_time(@reservation.guesthouse.checkin_time) %>
  </p>
  <p>
    <strong>Data de saída:</strong> <%= I18n.localize(@reservation.checkout) %>
  </p>
  <p>
    <strong>Horário de check-out:</strong>
    <%= formatted_time(@reservation.guesthouse.checkout_time) %>
  </p>
  <p>
    <strong>Quantidade de hóspedes:</strong> <%= @reservation.guest_count %>
  </p>
  <p>
    <strong>Formas de pagamento:</strong>
    <%= payment_methods_description(@reservation.guesthouse) %>
  </p>
<% end %>
<p>
  <strong>Valor total das diárias:</strong>
  <%= number_to_currency(@reservation.stay_total) %>
</p>
<%=
  button_to 'Confirmar reserva',
            room_reservations_path, method: :post
%>