<h2>Gerenciar reserva <%= @reservation.code %></h2>
<div>
  <p>
    <strong>Responsável:</strong>
    <%= @reservation.guest.name %>
  </p>
  <p>
    <strong>Quarto:</strong>
    <%= link_to @reservation.room.name, @reservation.room %>
  </p>
  <p>
    <strong>Data agendada para entrada: </strong>
    <%= I18n.localize(@reservation.checkin) %>
  </p>
  <p>
    <strong>Data agendada para saída: </strong>
    <%= I18n.localize(@reservation.checkout) %>
  </p>
  <p>
    <strong>Status:</strong> 
    <%= Reservation.human_attribute_name("status.#{@reservation.status}") %>
  </p>
  <% if @reservation.guests_checked_in? %>
    <p>
      <strong>Data e hora do check-in:</strong>
      <%= I18n.localize(@reservation.checked_in_at, format: :custom) %>
    </p>
  <% end %>
  <% if @reservation.guests_checked_out? %>
    <p>
      <strong>Data e hora do check-in:</strong>
      <%= I18n.localize(@reservation.checked_in_at - 3.hours, format: :custom) %>
    </p>
    <p>
      <strong>Data e hora do check-out:</strong>
      <%= I18n.localize(@reservation.checked_out_at - 3.hours, format: :custom) %>
    </p>
    <p>
      <strong>Total pago:</strong>
      <%= number_to_currency(@reservation.stay_total) %>
    </p>
    <p>
      <strong>Forma de pagamento:</strong>
      <%= @reservation.payment_method %>
    </p>
  <% end %>
  <% if @checkin_elligible %>
    <%= button_to('Confirmar check-in',
                  confirm_checkin_reservation_path(@reservation.id),
                  method: :patch) %>
  <% end %>
  <% if @checkout_elligible %>
    <%= link_to('Realizar check-out',
                go_to_checkout_reservation_path(@reservation.id))%>
  <% end %>
  <% if @cancellation_elligible %>
    <%= button_to 'Cancelar', cancellation_by_user_reservation_path, method: :patch %>
  <% end %>
</div>