<h2>Realizar reserva</h2>

<%= render partial: 'shared/room_details', locals: { room: @room }%>

<%= form_with(model: [@room, @reservation]) do |f| %>
  <div>
    <%= f.label :checkin, 'Data de entrada' %>
    <%= f.date_field :checkin %>
  </div>
  <div>
    <%= f.label :checkout, 'Data de saída' %>
    <%= f.date_field :checkout %>
  </div>
  <div>
    <%= f.label :guest_count, 'Quantidade de hóspedes' %>
    <%= f.date_field :guest_count %>
  </div>
  <div>
    <%= f.label :stay_total, 'Total' %>
    <%= f.date_field :stay_total %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>