<%= render partial: 'shared/error_messages', locals: { resource: @reservation } %>

<h2>Realizar reserva</h2>

<%= render partial: 'shared/room_details', locals: { room: @room }%>

<%= form_with(model: [@room, @reservation], url: room_confirm_path(@room.id), method: :get) do |f| %>
  <div>
    <%= f.label :checkin, 'Data de entrada' %><span class="required"> *</span>
    <%= f.date_field :checkin, required: true %>
  </div>
  <div>
    <%= f.label :checkout, 'Data de saída' %><span class="required"> *</span>
    <%= f.date_field :checkout, required: true %>
  </div>
  <div>
    <%= f.label :guest_count, 'Quantidade de hóspedes' %><span class="required"> *</span>
    <%= f.number_field :guest_count, required: true, min: 1 %>
  </div>
  <div>
    <%= f.submit 'Verificar disponibilidade' %>
  </div>
<% end %>

<p class="disclaimer">
  <strong>Aviso: </strong>Valor da diária pode variar de acordo com período
</p>

<%= link_to 'Voltar', @room.guesthouse, class: 'return_link' %>
