<% if @reservations.any? %>
  <h2>Estadias ativas em <%= current_user.guesthouse.brand_name %></h2>
  <div class="reservations">
    <% @reservations.each do |r| %>
      <div class="reservation-details">
        <p><strong>Código da reserva:</strong> <%= r.code %></p>
        <p><strong>Quarto:</strong> <%= r.room.name %></p>
        <p><strong>Data agendada de entrada:</strong> <%= l(r.checkin) %></p>
        <p><strong>Data agendada de saída:</strong> <%= l(r.checkout) %></p>
        <p>
          <strong>Data e hora do check-in:</strong>
          <%= l(r.checked_in_at - 3.hours, format: :custom) %>
        </p>
        <%= link_to 'Gerenciar reserva', manage_reservation_path(r.id) %>
      </div>
      <hr>
    <% end %>
  </div>
<% else %>
  <p>Sua pousada não possui reservas com estadia ativa</p>
<% end %>