<%= 
  render partial: 'shared/error_messages', locals: { resource: @seasonal_rate }
%>

<%= form_with(model: [@room, @seasonal_rate]) do |f| %>
  <div>
    <%= f.label :start_date, 'Data inicial' %><span class="required"> *</span>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :finish_date, 'Data final' %><span class="required"> *</span>
    <%= f.date_field :finish_date %>
  </div>
  <div>
    <%= f.label :rate, 'Valor' %><span class="required"> *</span>
    <%= f.number_field :rate, step: 0.01 %>
  </div>
  <div style="display: flex">
    <%= f.submit 'Enviar' %>
  </div>
<% end %>