<% if @seasonal_rate.errors.any? %>
  <div>
    <p>O formulário contém os erros abaixo:</p>
    <ul>
      <% @seasonal_rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [@room.guesthouse, @room, @seasonal_rate]) do |f| %>
  <div>
    <%= f.label :start_date, 'Data inicial' %>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :finish_date, 'Data final' %>
    <%= f.date_field :finish_date %>
  </div>
  <div>
    <%= f.label :rate, 'Valor' %>
    <%= f.number_field :rate, step: 0.01 %>
  </div>
  <div style="display: flex">
    <%= f.submit 'Enviar' %>
  </div>
<% end %>