<%= render partial: 'shared/error_messages', locals: { resource: @room } %>

<%= form_with(scope: @room, url: resource, method: method) do |f| %>
  <div class="row mb-3">
    <%= f.label :name, 'Nome', class: 'col-4 col-form-label' %>
    <div class="col-8">
      <div>
        <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :description, 'Descrição', class: 'col-4 col-form-label' %>
    <div class="col-8">
      <div>
        <%= f.text_area :description, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :dimension, 'Dimensão em m²', class: 'col-4 col-form-label' %>
    <div class="col-8">
      <div>
        <%= f.number_field :dimension, step: 0.1, required: true,
                            min: 0.1, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :max_people, 'Quantidade máxima de pessoas', class: 'col-4 col-form-label' %>
    <div class="col-8">
      <div>
        <%= f.number_field :max_people, required: true,
                           min: 1, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :daily_rate, 'Valor da diária padrão', class: 'col-4 col-form-label' %>
    <div class="col-8">
      <div>
        <%= f.number_field :daily_rate, step: 0.01, required: true,
                           min: 0.01, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :pictures, 'Adicionar foto', class: 'col-4 col-form-label' %>
    <div class="col-8">
      <%= f.file_field :pictures, multiple: true,
                        class: 'form-control', accept: 'image/png,image/jpeg' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8 offset-4">
      <div class="form-check">
        <%= f.check_box :available, class: 'form-check-input' %>
        <%= f.label :available, 'Disponível para reservas',
                    class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8 offset-4">
      <div class="form-check">
        <%= f.check_box :private_bathroom, class: 'form-check-input' %>
        <%= f.label :private_bathroom, 'Possui banheiro próprio',
                    class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8 offset-4">
      <div class="form-check">
        <%= f.check_box :balcony, class: 'form-check-input' %>
        <%= f.label :balcony, 'Possui varanda', class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8 offset-4">
      <div class="form-check">
        <%= f.check_box :air_conditioning, class: 'form-check-input' %>
        <%= f.label :air_conditioning, 'Possui ar-condicionado',
                    class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8 offset-4">
      <div class="form-check">
        <%= f.check_box :tv, class: 'form-check-input' %>
        <%= f.label :tv, 'Possui TV', class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8 offset-4">
      <div class="form-check">
        <%= f.check_box :closet, class: 'form-check-input' %>
        <%= f.label :closet, 'Possui guarda-roupas',class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8 offset-4">
      <div class="form-check">
        <%= f.check_box :safe, class: 'form-check-input' %>
        <%= f.label :safe, 'Possui cofre', class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-8 offset-4">
      <div class="form-check">
        <%= f.check_box :accessibility, class: 'form-check-input' %>
        <%= f.label :accessibility, 'Acessível para pessoas com deficiência',
                    class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= link_to 'Voltar', back_link, class: 'col-4' %>
    <div class="col-8 text-end">
      <%= f.submit 'Enviar', class: 'btn btn-primary mb-3' %>
    </div>
  </div>
<% end %>