<%= render partial: 'shared/error_messages', locals: { resource: @room } %>

<%= form_with(scope: @room, url: resource, method: method) do |f| %>
  <div>
    <%= f.label :name, 'Nome' %><span class="required"> *</span>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.label :description, 'Descrição' %><span class="required"> *</span>
    <%= f.text_area :description, required: true %>
  </div>
  <div>
    <%= f.label :dimension, 'Dimensão em m²' %><span class="required"> *</span>
    <%= f.number_field :dimension, step: 0.5, required: true %>
  </div>
  <div>
    <%= f.label :max_people, 'Quantidade máxima de pessoas' %><span class="required"> *</span>
    <%= f.number_field :max_people, required: true %>
  </div>
  <div>
    <%= f.label :daily_rate, 'Valor da diária padrão' %><span class="required"> *</span>
    <%= f.number_field :daily_rate, step: 0.01, required: true %>
  </div>
  <div>
    <%= f.label :available, 'Disponível para reservas' %>
    <%= f.check_box :available %>
  </div>
  <div>
    <%= f.label :private_bathroom, 'Possui banheiro próprio' %>
    <%= f.check_box :private_bathroom %>
  </div>
  <div>
    <%= f.label :balcony, 'Possui varanda' %>
    <%= f.check_box :balcony %>
  </div>
  <div>
    <%= f.label :air_conditioning, 'Possui ar-condicionado' %>
    <%= f.check_box :air_conditioning %>
  </div>
  <div>
    <%= f.label :tv, 'Possui TV' %>
    <%= f.check_box :tv %>
  </div>
  <div>
    <%= f.label :closet, 'Possui guarda-roupas' %>
    <%= f.check_box :closet %>
  </div>
  <div>
    <%= f.label :safe, 'Possui cofre' %>
    <%= f.check_box :safe %>
  </div>
  <div>
    <%= f.label :accessibility, 'Acessível para pessoas com deficiência' %>
    <%= f.check_box :accessibility %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>