<dt><strong>Preços por período:</strong></dt>
<dd>
  <ul class="seasonal_rates_list">
    <li>
      <strong>Padrão:</strong>
      <%= number_to_currency(@room.daily_rate) %>
    </li>
    
    <% @active_seasonal_rates.each do |sr| %>
      <li>
        <strong>
          De <%= I18n.localize(sr.start_date) %>
          a <%= I18n.localize(sr.finish_date) %>: 
        </strong> <%= number_to_currency(sr.rate) %>

      | <%= link_to('Inativar', [@guesthouse, @room, sr]) %>
      </li>
    <% end %>
  </ul>
</dd>