<h2><%= @room.guesthouse.brand_name %></h2>
<h3>Detalhes do quarto <%= @room.name %></h3>
<div>
  <strong><%= room_availability(@room) %></strong>
</div>
<dl>
  <dt><strong>Nome:</strong></dt>
  <dd><%= @room.name %></dd>

  <dt><strong>Descrição:</strong></dt>
  <dd><%= @room.description %></dd>
  
  <dt><strong>Dimensão:</strong></dt>
  <dd>
    <%= 
      number_with_precision(@room.dimension, separator: ',',
                            strip_insignificant_zeros: true) %> m²
  </dd>

  <dt><strong>Número máximo de pessoas:</strong></dt>
  <dd><%= @room.max_people %></dd>

  <dt><strong>Valor da diária:</strong></dt>
  <dd>
    <%= number_to_currency(@daily_rate) %>
  </dd>

  <% if extra_features?(@room) %>
    <dt><strong>Adicionais:</strong></dt>
    <dd>
      <ul>
        <% extra_features_collection(@room).each do |feat| %>
          <li><%= feat %></li>
        <% end %>
      </ul>
    </dd>
  <% end %>

  <dt><strong>Preços por período:</strong></dt>
  <dd>
    <ul class="seasonal_rates_list">
      <li>
        <strong>Padrão:</strong> <%= number_to_currency(@room.daily_rate) %>
      </li>
      
      <% @room.seasonal_rates.each do |sr| %>
        <li>
          <strong>De <%= I18n.localize(sr.start_date) %>
          a <%= I18n.localize(sr.finish_date) %>:</strong>
          <%= number_to_currency(sr.rate) %>
          <% if @room.guesthouse.user == current_user %>
            <%= link_to(
              'Editar',
              edit_guesthouse_room_seasonal_rate_path(
                @room.guesthouse.id, @room.id, sr.id
              )
            ) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>

<% if @room.guesthouse.user == current_user %>
  <div>
    <%= link_to 'Editar', edit_guesthouse_room_path(@room.guesthouse.id,
                                                    @room.id) %> |
    <%= link_to('Adicionar preço por período',
                new_guesthouse_room_seasonal_rate_path(@room.guesthouse_id,
                                                     @room.id))%>
  </div>
<% end %>

<div>
  <%= link_to 'Voltar para pousada', @room.guesthouse %>
</div>