<h2><%= @room.guesthouse.brand_name %></h2>
<h3>Detalhes do quarto <%= @room.name %></h3>
<div>
  <strong><%= room_availability(@room) %></strong>
</div>
<dl>
  <dt><strong>Nome:</strong></dt>
  <dd><%= @room.name %></dd>

  <dt><strong>Descrição:</strong></dt>
  <dd><%= @room.description %></dd>
  
  <dt><strong>Dimensão:</strong></dt>
  <dd>
    <%= 
      number_with_precision(
        @room.dimension, separator: ',', strip_insignificant_zeros: true
      )
    %> m²
  </dd>

  <dt><strong>Número máximo de pessoas:</strong></dt>
  <dd><%= @room.max_people %></dd>

  <dt><strong>Valor da diária:</strong></dt>
  <dd>
    <%= number_to_currency(@room.current_daily_rate) %>
  </dd>

  <%= render 'extra_features' %>

  <%= render 'seasonal_rates' %>
</dl>

<%= render 'links' %>