<h2 class="text-center mb-3">Avalie sua estadia em <%= @reservation.guesthouse.brand_name %></h2>

<%= 
  render partial: 'shared/error_messages', locals: { resource: @review }
%>

<h3 class="text-center mb-3">
  <strong>Código da reserva:</strong>
  <%= @reservation.code %>
</h3>

<%= form_with(model: [@reservation, @review]) do |f| %>
  <div class="container w-75">
    <div class="row mb-3 align-items-center">
      <div class="col-4 col-form-label">Nota: </div>
      <%= f.radio_button :rating, -1, hidden: true, checked: true %>
      <div class="col-8">
        <% (0..5).each do |rating| %>
          <div class="form-check form-check-inline">
            <%= f.radio_button :rating, rating, class: 'form-check-input' %>
            <%= f.label :rating, rating, class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mb-3">
      <%= f.label :description, 'Adicione uma avaliação escrita',
                  class: 'col-4 col-form-label' %>
      <div class="col-8">
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <%= link_to 'Voltar', guest_manage_reservation_path(@reservation), class: 'col-4' %>
      <div class="col-8 text-end">
        <%= f.submit 'Enviar', class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
<% end %>