<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1><%= link_to 'Pousadaria', root_path %></h1>
    <nav>
      <%= form_with(url: search_guesthouses_path, method: :get) do |f| %>
        <%= f.label :query, 'Buscar pousada' %>
        <%= f.text_field :query %>
        <%= f.submit 'Buscar' %>
      <% end %>
      <% if current_user %>
        <%= render 'layouts/loggedin' %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>
    <main>
        <div class="alert"><%= alert %></div>
        <div class="notice"><%= notice %></div>
    </main>
    <%= yield %>
  </body>
</html>
