<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1><%= link_to 'Pousadaria', root_path %></h1>
    <nav>
      <%= render 'layouts/search_options' %>
      
      <% if current_user %>
        <%= render 'layouts/user_authenticated' %>
      <% elsif current_guest %>
        <%= render 'layouts/guest_authenticated' %>
      <% else %>
        <strong><%= link_to 'Entrar', new_user_session_path %></strong>
        <strong><%= link_to 'Entrar como hóspede', new_guest_session_path %></strong>
      <% end %>
    </nav>
    <main>
        <div class="alert"><%= alert %></div>
        <div class="notice"><%= notice %></div>
    </main>
    <%= yield %>
  </body>
</html>
